DID=did:plc:p3xrn75k25pxb7rpnkx3dznw
SIGNING_KEY=did:key:zQ3shqr9KzQvKrCtSNJ72topQfrRQeZoppT2nCVWtjKeiSrWt
BSKY_IDENTIFIER=radiantpaths.bsky.social
BSKY_PASSWORD=ZpJYHtrN6Hh2pHJ
PORT=4100
METRICS_PORT=4101
FIREHOSE_URL=wss://jetstream1.us-east.bsky.network/subscribe
CURSOR_UPDATE_INTERVAL=10000